body { background-image: url(imagens/new\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  }
  
  h2 {
    color: #f4f4f4;;
  }
  
  label {
    margin-bottom: 5px;
    display: block;
  }
  
  input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
  }
  
  button {
    padding: 8px 15px;
    background-color: #2ec033;
    color: white;
    border: none;
    border-radius: %;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }
   /* Formatação para telas menores (responsivo) */
   @media (max-width: 768px) {
    nav {
      padding: 0.5em;
    }
    nav a {
      margin: 0 10px; 
      font-size: 1em;
    }
    .banner h1 {
      font-size: 2em;
    }
  }

  